*{box-sizing: border-box;}
body
{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root
{
    --primary: #010161;
    --secondary: #eff5f8; 
    --accent: #c50606; 
}
section
{    }

h1, h4   { margin:0; color: var(--primary);}
/*****************HEADER*******************/

header .kontakt_daten
{
    height: 35px;
    color:white;
    /*background: linear-gradient(180deg, rgba(108,3,12,1) 0%, rgba(1,1,97,1) 0%, rgba(9,9,121,1) 48%, rgba(43,90,190,1) 100%); */
    background-color: var(--primary);
    font-size: 0.8em;
   
    
    display: flex;
    align-items: center;

}
header .kontakt_daten div
{
    width: 1000px;
    margin: 0 auto;
    text-align: end;
    opacity: 0.8;
}
header .kontakt_daten b
{
    font-weight: normal;
    margin-left: 20px;
}
header .kontakt_daten span:hover
{
    cursor: pointer;
    text-decoration: underline;
}

#logo_links
{
    display: flex;
    align-items: center;
    justify-content: space-between;


    max-width:1000px;
    margin: 0 auto;
    font-size: 1.2em;
     
}
header #logo img
{
    width: 230px;
    padding-top: 5px;
}
nav{border-bottom: 1px solid var(--primary);}
nav #links a
{
    margin-left: 30px;
    color:var(--primary);
    text-decoration: none;
    font-weight: bold;
}
nav #links a:hover
{
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
}

/*****************MAIN*******************/

.slider
{
    padding:0;
    height: 550px;
    position:relative;
}
.slider #slider_images 
{
    background-image: url('audio.jpg');
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: center;  
}

#slider_text
{
    position:absolute;
    top:0;
    left:0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 3.5em;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
}
#slider_btn
{
    position: absolute;
    top:40%;
    left:0;


    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 0 30px;
}
#slider_btn button
{
    cursor: pointer;
    outline: none;
    border:none;
    font-size: 3.5em;
    color:var(--secondary);
    background-color: inherit;

}
.slider_kreis
{
    display:flex;
    position: absolute;
    bottom: 30px;
    left: 45%;

}
.slider_kreis div
{
    width:25px;
    height: 7px;
    border:1px solid white;
    border-radius: 5px;
    margin: 0 5px;
}

.leistungen
{
    text-align: center;
    position: relative;
}
.leistung_text
{
    background-color: var(--secondary);
    padding: 70px 0 100px 0;
}

.leistung_container
{
    display :flex;
    justify-content: center;
    margin: 80px 0 0 0;

    position: relative;
    top: -120px;
}
.container
{
    width: 220px;
    padding:10px 20px 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 0px #000000;
    margin: 0 10px;

}
.container_icon
{
    
    padding: 25px;
    border-radius:50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: var(--secondary);
    margin-bottom: 20px;
}
.container p
{
    margin: 10px auto;
    width: 50px;
    height: 3px;
    background-color: var(--accent);
}
.container_icon img
{width:100%; }
.container span
{
    color:#474747;
    font-size: 0.9em;
}
.unser_team
{
    background-color: var(--secondary);
}
.team
{
    padding: 80px 0;
    max-width: 900px;
    margin: 0 auto;
}

.grup_team
{
    display: flex;
    justify-content: space-between;
}
.team_menschen
{
    border: 1px solid var(--primary);
    width: 250px;
    margin-top: 30px;
    border-radius: 8px;
    transition: transform 0.5s;
}
.team_menschen:hover
{
    transform: scale(1.1);
    box-shadow: 0px 0px 12px 0px #000000;
}

.team_menschen img
{
    width:100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid var(--primary);
}
.team_text
{
    display: flex;
    flex-direction: column; 
    padding: 30px 20px;
}
.team_text>*
{
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.team_text span
{
    font-weight: bold;
    color:var(--primary); 
}
.team_text small
{color:#474747;}
.team_text button
{
    background-color: var(--accent);
    padding: 8px 12px;
    cursor: pointer;
    outline: none;
    border:none;
    font-weight: bold;
    color:white;
    border-radius:8px;
}
.team_text button:hover
{
     background-color:  #d12222;
}

.uberUns
{
    max-width: 900px;
    margin: 80px auto;
}


.uberUns_box
{
    display: flex;
    height: 350px;
    margin-top: 30px;

    position: relative;
}
.uberUns_box img
{
    width: 200px;
    position:absolute;
    bottom:-40px;
    right: 60px;
}
.uberUns_text
{
    width: 700px;
    padding: 50px;
    color: #474747;
    box-shadow: 0px 0px 12px 0px #000000;
    overflow: hidden;
}
.blau_text
{
    background-color: var(--primary);
    color:white;
    text-align: center;
    font-size: 2em;
    padding: 50px 0;
}
/****************Footer*****************/
footer
{
    background-color: var(--primary);
    text-align: center;
    color:white;
    padding: 10px 0;
}