*{box-sizing: border-box;}
body
{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root
{
    --primary: #010161;
    --secondary: #2b5abe; 
    --accent: #c50606; 
}
/*****************HEADER*******************/
header
{

}
header .kontakt_daten
{
    height: 35px;
    color:white;
    background-color:rgb(1, 1, 97); 
    
    font-size: 0.8em;
   
    
    display: flex;
    align-items: center;

}
header .kontakt_daten div
{
    width: 1024px;
    margin: 0 auto;
    text-align: end;
    opacity: 0.8;
}
header .kontakt_daten b
{
    font-weight: normal;
    margin-left: 20px;
}
header .kontakt_daten span:hover
{
    cursor: pointer;
    text-decoration: underline;
}
nav
{
    border-bottom:1px solid rgb(1, 1, 97);   
}
#logo_links
{
    display: flex;
    align-items: center;
    justify-content: space-between;


    max-width:1024px;
    margin: 0 auto;
    font-size: 1.2em;
     
}
header #logo img
{
    width: 200px;
}
nav #links a
{
    margin-left: 50px;
    color:rgb(1, 1, 97);
    text-decoration: none;
   
}
nav #links a:hover
{
    color:rgb(165, 1, 1);
    border-bottom: 2px solid rgb(165, 1, 1);
}

/*****************MAIN*******************/

.slider
{
    height: 500px;
}
.slider #slider_images 
{
    background-image: url('stars.jpg');
    width:100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-bottom:  1px solid rgb(1, 1, 97);
    
}
.box
{
    position: relative;
}

.boxbtn
{
    width: 450px;
    height: 70px;
    border: 1px solid rgb(1, 1, 97);
    background-color: white;
    margin: -35px auto 70px auto;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 12px 0px #000000;

    position: relative;
}
.boxbtn h4
{
    margin:0;
    position:absolute;
    top: 25px;
    left:125px;
    color:rgb(224, 55, 55);
}
#icons{
    display:flex;
    justify-content: space-between;
    padding:25px 20px;
    color: rgb(1, 1, 97);
}


#kreis
{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:5px;
    left: 200px;
}
#kreis div
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgb(1, 1, 97);
    margin:2px;   
}

h2{margin:0}
.container h4
{
    margin: 30px 0 15px 0;
    color: var(--primary)
}
.leistungen
{
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}
.leistung_container
{
    display :flex;
    justify-content: space-between;
    margin: 30px 0;
}
.container
{
    border:1px solid var(--secondary);
    width: 250px;
    padding:10px 20px 15px 20px;
    border-radius: 10px;

}
.container_icon
{
    margin: -50px 0 0 60px;
    padding: 15px;
    border-radius:50%;
    background-color: var(--secondary);
    color:white;
    font-size: 3em;
    width: 85px;
    height: 85px;
    

    display: flex;
    justify-content: center;
    align-items: center;
}
.container span
{
    color:rgb(71, 71, 71);
    font-size: 0.9em;
}